body {
  margin: 0;
  background-color: whitesmoke;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441a5;
  background: -webkit-gradient(to right, #2a0845, #6551a5);
  background: (to right, #2a0845, #6551a5);
}

header img {
  height: 80%;
}

header p {
  font-family: VT323, monospace;
  font-size: 50px;
  color: whitesmoke;
  margin: 0;
  margin-left: 60px;
}

.meme {
  position: relative;
  width: 100%;
  margin: auto;
}

.meme img {
  width: 100%;
}

.meme h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000
    ;
}

.meme .bottom {
  bottom: 0;
}

.meme .top {
  top: 0;
}

.meme-form {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.meme-form button {
  border: none;
  font-family: VT323,  monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
}

.meme-form input::placeholder {
  font-family: VT323, monospace;
  font-size: 20px;
  text-align: left;
}

.container {
  display: flex;
  max-width: 1170px;
  width: 100%;
  height: inherit;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-main 
.container {
    flex-flow: wrap;
    max-width: 600px;
}
.meme-form input {
  margin-right: 1%;
}

.footer {
  padding: 10px;
  font-family: monospace;
  color: #fff;
  background: #6441a5;
  margin-top: 1%;
}

.footer h3 {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer h3 img {
  width: 16px;
}

.footer h3 span {
  font-weight: 700;
}

@media (max-width: 767px) {
  header p {
    margin-left: 10px;
    font-size: 30px;
  }
  .footer h3 {
    font-size: 12px;
  }
  .meme-form input {
    width: 33.33%;
  }
  .meme-form input::placeholder {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  header p {
    font-size: 24px;
  }
  .footer h3 {
    font-size: 10px;
  }
}